sudo: required
dist: trusty
language: php
php:
    - 7.0
    - 7.1
    - 7.2
    - nightly
env:
    global:
        - REPORT_EXIT_STATUS=1
    matrix:
        - CC=gcc

matrix:
    allow_failures:
        - php: nightly
    include:
        - php: 7.0
          env:
              - CC=clang
        - php: 7.1
          env:
              - CC=clang
        - php: 7.1
          env:
              - CC=clang

os:
    - linux
#    - osx

addons:
    apt:
        packages: clang

compiler:
    - gcc
    - clang

before_install:
#    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; fi
#    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install icu4c; fi
#    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install mapnik; fi
#    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install homebrew/php/php70; fi

    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get -y -qq update; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get -y install python-software-properties; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-add-repository -y ppa:mapnik/nightly-trunk; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get -y update; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get -y install libmapnik libmapnik-dev mapnik-utils; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get -y install mapnik-input-plugin-ogr; fi

script:
    - phpize
    - ./configure --with-mapnik
    - make test

after_success:
    - tail -n 1000 tests/*.log

after_failure:
    - tail -n 1000 tests/*.log
